# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Coverage output
*.out
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/

# developer config
.dev.config.yml
.DS_Store

# scratch
example.go
TODO
tasks.md
