---
version: 2
interactions:
    - id: 0
      request:
        host: cloud-api.yandex.net
        body: ""
        form: {}
        headers: {}
        url: https://cloud-api.yandex.net/v1/disk/trash/resources?path=trash:/___golang_API_dir_2_ddf8722d0aec88bfeb94a45a155511dbe151b764
        method: GET
      response:
            - chunked
        body: '{"_embedded":{"sort":"","items":[],"limit":20,"offset":0,"path":"trash:/___golang_API_dir_2_ddf8722d0aec88bfeb94a45a155511dbe151b764","total":0},"name":"___golang_API_dir_2","exif":{},"created":"2022-10-27T17:01:47+00:00","deleted":"2022-10-28T10:10:49+00:00","origin_path":"disk:/___golang_API_dir_2","modified":"2022-10-28T10:10:49+00:00","resource_id":"12345678:865d9a21909063d45542fa155cfda457cfe0643cc42a138e32ecb12c56cad6ed","path":"trash:/___golang_API_dir_2_ddf8722d0aec88bfeb94a45a155511dbe151b764","comment_ids":{"private_resource":"12345678:865d9a21909063d45542fa155cfda457cfe0643cc42a138e32ecb12c56cad6ed","public_resource":"12345678:865d9a21909063d45542fa155cfda457cfe0643cc42a138e32ecb12c56cad6ed"},"type":"dir","revision":1666951849235064}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Yandex-Cloud-Request-Id:
                - rest-b100b7b16f9a55c5fd06037a04375989-api05f
        status: 200 OK
        code: 200
        duration: 122.363052ms
