---
version: 2
interactions:
    - id: 0
      request:
        host: cloud-api.yandex.net
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloud-api.yandex.net/v1/disk/
        method: GET
      response:
            - chunked
        body: '{"max_file_size":53687091200,"paid_max_file_size":53687091200,"total_space":3389266067456,"trash_size":0,"is_paid":true,"used_space":2099324681420,"system_folders":{"odnoklassniki":"disk:/Социальные сети/Одноклассники","google":"disk:/Социальные сети/Google+","instagram":"disk:/Социальные сети/Instagram","vkontakte":"disk:/Социальные сети/ВКонтакте","attach":"disk:/Почтовые вложения","mailru":"disk:/Социальные сети/Мой Мир","downloads":"disk:/Загрузки/","applications":"disk:/Приложения","facebook":"disk:/Социальные сети/Facebook","social":"disk:/Социальные сети/","messenger":"disk:/Файлы Мессенджера","calendar":"disk:/Материалы встреч","scans":"disk:/Сканы","screenshots":"disk:/Скриншоты/","photostream":"disk:/Фотокамера/"},"user":{"country":"ru","login":"username","display_name":"Test","uid":"12345678"},"unlimited_autoupload_enabled":false,"revision":16668878778584058}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Yandex-Cloud-Request-Id:
                - rest-535cd1de4f850f6e0ebfe5663a3a962f-api25v
        status: 200 OK
        code: 200
        duration: 152.618148ms
