---
version: 2
interactions:
    - id: 0
      request:
        host: cloud-api.yandex.net
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloud-api.yandex.net/v1/disk/resources/upload?path=upload_path
        method: GET
      response:
            - chunked
        body: '{"operation_id":"eb44b9cc436523c173264377b5539ffd130cca88337bdc5d65110716a1e185fe","href":"https://uploader3v.disk.yandex.net:443/upload-target/20221028T151026.737.utd.3jkhy8k7ormqu5nz22lyuzz71-k3v.5629809","method":"PUT","templated":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Yandex-Cloud-Request-Id:
                - rest-0a44fac3591c9d00d7e0704a245b78fb-api09h
        status: 200 OK
        code: 200
        duration: 779.601327ms
